/* *{
    box-sizing: border-box;
    margin: 0;
    padding:0;
} */
:root{
    --pramiry-font:'Poppins', sans-serif;
}
body{
    font-family: var(--pramiry-font);
}
.navigation{
    margin-top:35px;
}
.slider{
    margin-top: 65px;
    margin-bottom: 130px;
}
.courses{
 margin-bottom: 130px;
}
.elearning-Institute{
    background-color: #F4FAFD;
    padding: 50px 50px;
}
.Ready-to-join {
    padding:50px 80px;
    margin-top: 130px;
    color: white;
}