/* *{
    box-sizing: border-box;
    margin: 0;
    padding:0;
} */
:root{
    --pramiry-font:'Poppins', sans-serif;
}
body{
    font-family: var(--pramiry-font);
}

.navigation{
    margin-top:35px;
}
.slider{
    margin-top: 65px;
    margin-bottom: 130px;
}
.courses{
 margin-bottom: 130px;
}
.elearning-Institute{
    background-color: #F4FAFD;
    padding: 50px 50px;
}
.Ready-to-join {
    padding:50px 80px;
    margin-top: 130px;
    margin-bottom: 130px;
    color: white;
}
.meet-student{
    margin-bottom: 130px;
}
.studens-feedback{
   
    margin-bottom: 130px;
}
.student-feedback-author{
    
    line-height: 1px;
    
}
.first-auther{
    position: relative;
}
.back-arrow{
    position:absolute;
    top: 275px;
    left:-1px;
    right: 200px;
}
.forward-arrow{
    position:absolute;
   
    
    top: 275px;
    left:1090px;
    ;
}
.Frequently-Asked-Questions{
    margin-bottom: 130px;
}
.faq-accordion{
    width: 65%;
}
.Trusted-companies{
    margin-bottom: 130px;
}
footer{
    background-color:black ;
    height: 472px;
}
.course-img{
    height: 100%;
    width: 100%;
    object-position:center;
    object-fit: cover;
    
}